nav {
    background-color: 'white';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logoBarra {
    width: 150px;
    height: auto;
}

#elementos {
    margin: 0 auto; /* Centra el div 'elementos' horizontalmente */
}


#contenedorCabecera {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
  }
  
  #logoCabecera {
    margin-right: 10px; /* Ajusta el margen entre el logo y las opciones de menú */
  }
  
  #listaOpciones {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  #listaOpciones li {
    margin-right: 10px; /* Ajusta el margen entre elementos de la lista */
  }
  
  #listaOpciones li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
  }
  
  
#opcion a {
    display: block;
    color: #890202;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Clear floats después de los elementos de la lista para que no haya problemas de diseño */
#opcion::after {
    content: "";
    display: table;
    clear: both;
}