/* styles.css */

.asistencia {
  background-color: green;
  color: white;
}

.falta {
  background-color: red;
  color: white;
}

/* En tu archivo de estilos CSS (por ejemplo, ListaAsistencias.css) */

/* Estilos para la etiqueta de selección y el texto "Filtrar por mes" */
#labelMes {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Estilos para la lista desplegable (select) */
#mesSeleccionado {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
}

/* Estilo para las opciones (options) */
#mesSeleccionado option {
  background-color: #fff;
  color: #333;
}

#btnEAsistencia{
  margin-top: 10px;
}

.custom-select {
  padding: 8px;
  margin-left: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-asistencia {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#filtroFecha {
  padding: 8px;
  margin-left: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn_consultar{
  padding: 8px;
  margin-left: 5px;
  margin-top: 22px;
  font-size: 16px;
  border-radius: 4px;
}

.filter-servicio,
.filter-mes {
  margin-right: 10px; /* Ajusta el espacio entre los filtros según tus preferencias */
}

 