/* ListaBeneficiarios.css */

.centered-container {
  text-align: center;
  margin: 20px;
}

h2 {
  color: #333;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #007bff;
  color: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

Link {
  text-decoration: none;
}

button {
  padding: 8px 12px;
  background-color: #890202;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #890202;
}

.search-container-name input {
  margin-top: 10px;
  width: 51%;
  height: 25px;
}

td button {
  margin-right: 5px; 
}
