/* Estilos CSS (pueden variar según tus necesidades) */

.search-export-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container,
.centered-container {
    margin-bottom: 10px;
    /* Ajusta según sea necesario */
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centra los elementos horizontalmente */
}

#listaInsituciones li {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    background-color: #890202;
    padding: 10px;
    width: 50%;
}

#btn_editar {
    margin-left: 10px;
}

/* En tu archivo ListaInstituciones.css */
.centered-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-button {
    margin: 10px;
    /* Ajusta el margen según tus preferencias */
}

#cuerpo_tabla {
    text-align: center;
}