.centered-container {
    text-align: center;
}

#form_eregistrar {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#l_registrar {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#buttonRRegistrar {
    background-color: #890202;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}


button:hover {
    background-color: #6b0101;
    /* Cambia el color al pasar el ratón sobre el botón */
}


#opcionesServicios {
    margin-top: 10px;
    margin-left: 50px;
}

/* Registrar.css */

#rangoFechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 150px;
}

#rangoFechas input {
    margin-bottom: 10px;
    width: 100%;
    /* Hace que los inputs ocupen el 100% del ancho disponible */
    padding: 8px;
    /* Ajusta el relleno para dar más espacio alrededor del texto en los inputs */
}

/* Estilos específicos para los inputs de fecha */
#ff_inicial,
#ff_final {
    max-width: 200px;
    /* Limita el ancho máximo de los inputs de fecha */
}