#centered-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%; /* Cambia el valor según tus necesidades */
    margin: 0 auto; /* Esto centra horizontalmente el contenedor */
}
